@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  margin: 0;
  position: relative;
  font-family: 'PT Serif', serif;
  background: #f1f1f1 no-repeat center center/ cover;
  min-height: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: lightgray;
}

.spinner {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30px;
  background-color: #000;
  border-radius: 100%;
  animation: scaleout 1.0s infinite ease-in-out;
}

@keyframes scaleout {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

#quote-box {
  display: none;
  color: #d3d3d3;
  min-width: 230px;
  max-width: 480px;
  border-radius: 15px;
  margin: 0 15px;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 30px;
  margin-top: 10px;
}

#text {
  font-size: 19px;
  margin-top: 30px;
  text-align: center;
}

#details {
  color: #bf9839;
  text-align: right;
  font-style: italic;
  margin-top: 15px;
  padding-right: 10px;
  position: relative;
}

#details::after {
  content: "";
  width: 30%;
  height: 1px;
  background-color: #d3d3d3;
  position: absolute;
  left: 35%;
  bottom: -10px;
  opacity: 0.2;
}

#details p {
  margin: 5px 0;
}

#category {
  font-size: 13px;
}

#buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
  margin: 50px 0 30px;
}

#tweet-quote {
  cursor: pointer;
}

.fa-twitter {
  padding: 8px;
  border-radius: 50%;
  transition: 0.3s ease-in;
}

.fa-twitter:hover {
  color: #2c75ea;
}

#new-quote {
  font-size: 20px;
  padding: 10px;
  background-color: red;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease-in;
  display: block;
  width: 140px;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#new-quote:hover {
  color: #000;
}

.coded-by {
  display: none;
  position: absolute;
  bottom: 30px;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  color: #dec978;
  background: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 6px;
}

.coded-by a {
  color: #dec978;
  text-decoration: underline;
}

@media (max-width: 576px) {
  #text {
    font-size: 17px;
  }

  #new-quote {
    font-size: 18px;
    padding: 10px 0;
  }

  #author {
    font-size: 14px;
  }

  #category {
    font-size: 11px;
  }

  .coded-by {
    font-size: 14px;
  }
}